
venv/
__pycache__/
*.pyc
.DS_Store

# Data Lake Outputs
data-lake/bronze/
data-lake/silver/
data-lake/gold/

# Warehouse
warehouse/*.db

# Spark output files
*.crc
_SUCCESS

# Airflow logs
airflow/logs/